/* CSS Document */
/* reset css max width 100%  */

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
}

iframe{
  display: none;
}

/* alle shit voor de header */

header nav ul {
  display: flex;
  list-style-type: none;
  margin-top: 2em;
  position: relative;
}


header nav ul li:nth-of-type(3){
  position: absolute;
  right: 3em; 
}

header nav ul li:nth-of-type(4){
  position: absolute;
  right:1em; 
}

/* h2 */

h2{
text-transform: uppercase;
font-weight: bold;
text-align: center;
font-size: 1.7em;
}

/* vanaf hier producten */

/* ik had eerst flex-wrap wat opzich prima werkte
maar dat is denk ik uiteindelijk lastiger voor de responsiveness */
/* main section ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-decoration: none;
  margin: 10px;
}  */

main section ul{
  display: grid;
  /* grid-template-columns:1fr 1fr; */
  grid-template-columns:repeat(auto-fit, minmax(152px, 1fr));
  grid-gap: 1em;
  /* grid-auto-flow: dense; */
  justify-items: center;
  list-style: none;
  text-decoration: none;
  margin: 1em;
}

/* producten */
main section ul li{
  width: 100%;
  text-align: center;
}


main section img{
/* waarom werkt dit percentage dan??? */
  max-width: 100%;

}

main h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 0.15em;
}

/* button goed plaatsen */
main div  {
 display: flex;
 justify-content: center;
}

/* styling view all button */
main button{
  color: white;
  background-color:#111111;
  width: 7em;
  height: 2.5em;
  text-align: center;
  align-items: center;
  font-family: 'Barlow', sans-serif;
  font-size: .9em;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
}

main a {
  text-decoration:none;
  color: black;
  text-align: center;
}

/* form{
  position: fixed;
  width: 100%;
  left: 2em;
  top: 2em;

  transform: translateY(-100%);
  transition: 2s;
  z-index: 10;

}

.hamburgerMenuVisible form {
  transform:translateY(0);
}


form {
  width:calc(100% - 3em); height:100%;
  max-width:25em;
  transform:translate(-100%);
}


.stylePanelVisible form {
  transform:translateX(0);
}

header li:nth-of-type(1) {
  width:auto; height:7em;
  line-height:2em;
  left:100%; top:50%;
  transform:translateY(-50%);
} */